# Python cache
__pycache__/
*.pyc

# Environment variables
.env
.vscode

# Output directory
/output/

# Documentation and large files not part of the source code
/docling-docs/
*.pdf
!samples/1706.03762v7.pdf
*.docx

# Debug and test files
test_*.py
debug_*.txt

# IDE settings
.idea/
*.swp
*.swo

.gemini/
gha-creds-*.json

# LLM
LFM2-KoEn-Tuning

# benchmarks
benchmarks/

# scripts
scripts/